/* @font-face {
    font-family: bolt-700;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: regular-400;
    src: url(../fonts/OpenSans-Regular.ttf);
} */

body {
  font-family: "Open Sans" ", " cans-serif
    ";
}
.header{
    background-color: gray;
}
.hero{
    background-color: gray;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

/* ---------HEADER------------- */

.header-link,
.header-tel{
font-weight: 600;
font-size: 12px;
line-height: 1,33;
letter-spacing: 0.1em;
color: #FFFFFF;
}
/* .header-tel{
font-weight: 600;
font-size: 12px;
line-height: 1,33;
letter-spacing: 0.1em;
color: #FFFFFF;
} */
.header-link:hover,
.header-link:focus{
    color: #FF6C00;
}
.header-btn{
font-family:inherit;
font-weight: 600;
font-size: 12px;
line-height: 1,33;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #FFFFFF;
}

/* ---------------HERO----------- */

.hero-link{
    font-weight: 600;
font-size: 11px;
line-height: 1,36;
letter-spacing: 0.2em;
color: #303030;
}

.hero-link:hover,
.hero-link:focus{
    color: #FF6C00;
}
.hero-top-text {
    font-weight: 600;
font-size: 11px;
line-height: 1,36;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}
.hero-title {
font-family: 'Raleway' "
    cans-serif "";
  font-weight: 700;
  font-size: 72px;
  line-height: 1, 18;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.hero-bottom-text {
  font-size: 18px;
  line-height: 1, 66;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
